# Editor
.idea

# Node.js
node_modules
yarn-error.log

# Build
lib
*.js
*.js.map
*.jsx
*.jsx.map
*.d.ts
*.tgz

# Configs
!.prettierrc.js
!.np-config.js

# Tests
coverage
!jest.config.js

# ESLint
!.eslintrc.js
.eslintcache
